h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
}

.nav-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-logo .span-logo {
    color: #2E2F42;
}

.navbar-right {
    font-style: normal;
}

.navbar-right ul {
    display: flex;
    flex-direction: row;
}

.navbar-right ul li {
    list-style-type: none;
}

.navbar-list .navbar-link .link {
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navbar-list .navbar-link .link:hover,
.navbar-list .navbar-link .link:focus {
    color: #404bbf;
}

.navbar-right .link {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navbar-right .link:hover,
.navbar-right .link:focus {
    color: #404bbf;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}

.first-section {
    background-color: #2e2f42;
}

.first-section-title {
     font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.first-section-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.first-section-button:hover,
.first-section-button:focus {
background-color: #404BBF;
cursor: pointer;
}

.second-section .second-section-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.third-section {
    background-color: #f4f4fd;
}

.third-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-member {
    background-color: #FFFFFF;
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.fourth-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.fourth-section_item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

footer {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

footer {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    background-color: #2E2F42;
}

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

span{
    color: #F4F4FD
   }
   .footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
   }